__pycache__/
etc/

*.cif
*.graphdata
*.grid
*.griddata16
*.zip

*.out
*.log
# *.ipynb
*.sh
*.npz
*.tar.gz
*.ckpt
*.ipynb
test*.*
cp_search_csv/
test/


.ipynb_checkpoints/

# database
database/

# libs
libs/

# docs
docs/build/
_build/

# result directory
result*

# ckpt directory
best_ckpt/

# idea
.idea/

# file
demo.py

# logs
logs/

# setuptools
build/
dist/
.eggs/
*.egg-info
*.eggs

# trasfer_learning
transfer_learning/

# vscode
.vscode/
